// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.site-header {
    background-color: #75479E;
    color: #ffffff;
}
h1 {
    color: #373737;
    font-size: 1.8em;
    font-family: "Arvo", Helvetica, Arial, Sans-serif;
    font-weight: 700;
}
.container {
    font-size: .95em;
    font-family: "Muli", Helvetica, Arial, Sans-serif;
}